* text=auto !eol
Delivery/bench/bitmaps/xpm/expldot.xpm svneol=native#unset
Delivery/bench/bitmaps/xpm/general.xpm svneol=native#unset
Delivery/bench/bitmaps/xpm/graph.xpm svneol=native#unset
Delivery/bench/bitmaps/xpm/project.xpm svneol=native#unset
Delivery/bench/bitmaps/xpm/sclients.xpm svneol=native#unset
Delivery/bench/bitmaps/xpm/sflat.xpm svneol=native#unset
Delivery/bench/bitmaps/xpm/ssupplie.xpm svneol=native#unset
Delivery/bench/bitmaps/xpm/stext.xpm svneol=native#unset
Delivery/build/bitmaps/bmp/align.bmp -text
Delivery/build/bitmaps/bmp/arrow_b.bmp -text
Delivery/build/bitmaps/bmp/attrib.bmp -text
Delivery/build/bitmaps/bmp/bar.bmp -text
Delivery/build/bitmaps/bmp/beh_dot.bmp -text
Delivery/build/bitmaps/bmp/beh_frmt.bmp -text
Delivery/build/bitmaps/bmp/behavior.bmp -text
Delivery/build/bitmaps/bmp/bg_clrst.bmp -text
Delivery/build/bitmaps/bmp/bg_pxmap.bmp -text
Delivery/build/bitmaps/bmp/bulletin.bmp -text
Delivery/build/bitmaps/bmp/but_actv.bmp -text
Delivery/build/bitmaps/bmp/but_arm.bmp -text
Delivery/build/bitmaps/bmp/but_rels.bmp -text
Delivery/build/bitmaps/bmp/button.bmp -text
Delivery/build/bitmaps/bmp/cat_bar.bmp -text
Delivery/build/bitmaps/bmp/cat_bltn.bmp -text
Delivery/build/bitmaps/bmp/cat_ment.bmp -text
Delivery/build/bitmaps/bmp/cat_mpul.bmp -text
Delivery/build/bitmaps/bmp/cat_opul.bmp -text
Delivery/build/bitmaps/bmp/cat_prmw.bmp -text
Delivery/build/bitmaps/bmp/cat_tmpw.bmp -text
Delivery/build/bitmaps/bmp/changed.bmp -text
Delivery/build/bitmaps/bmp/check_bx.bmp -text
Delivery/build/bitmaps/bmp/cmd_dot.bmp -text
Delivery/build/bitmaps/bmp/cmd_inst.bmp -text
Delivery/build/bitmaps/bmp/cmd_page.bmp -text
Delivery/build/bitmaps/bmp/color.bmp -text
Delivery/build/bitmaps/bmp/color_st.bmp -text
Delivery/build/bitmaps/bmp/command.bmp -text
Delivery/build/bitmaps/bmp/cont_dot.bmp -text
Delivery/build/bitmaps/bmp/context.bmp -text
Delivery/build/bitmaps/bmp/crt_inst.bmp -text
Delivery/build/bitmaps/bmp/crt_proj.bmp -text
Delivery/build/bitmaps/bmp/dialg_sh.bmp -text
Delivery/build/bitmaps/bmp/drwng_ar.bmp -text
Delivery/build/bitmaps/bmp/ear.bmp -text
Delivery/build/bitmaps/bmp/ebuild.bmp -text
Delivery/build/bitmaps/bmp/ev_label.bmp -text
Delivery/build/bitmaps/bmp/event.bmp -text
Delivery/build/bitmaps/bmp/evnt_dot.bmp -text
Delivery/build/bitmaps/bmp/exit_lbl.bmp -text
Delivery/build/bitmaps/bmp/expand.bmp -text
Delivery/build/bitmaps/bmp/expose.bmp -text
Delivery/build/bitmaps/bmp/fg_clrst.bmp -text
Delivery/build/bitmaps/bmp/file.bmp -text
Delivery/build/bitmaps/bmp/font.bmp -text
Delivery/build/bitmaps/bmp/fullhelp.bmp -text
Delivery/build/bitmaps/bmp/general.bmp -text
Delivery/build/bitmaps/bmp/generate.bmp -text
Delivery/build/bitmaps/bmp/geometry.bmp -text
Delivery/build/bitmaps/bmp/grid.bmp -text
Delivery/build/bitmaps/bmp/grid10.bmp -text
Delivery/build/bitmaps/bmp/grid15.bmp -text
Delivery/build/bitmaps/bmp/grid20.bmp -text
Delivery/build/bitmaps/bmp/grid5.bmp -text
Delivery/build/bitmaps/bmp/groups.bmp -text
Delivery/build/bitmaps/bmp/help.bmp -text
Delivery/build/bitmaps/bmp/import.bmp -text
Delivery/build/bitmaps/bmp/initl_st.bmp -text
Delivery/build/bitmaps/bmp/input.bmp -text
Delivery/build/bitmaps/bmp/inst_dot.bmp -text
Delivery/build/bitmaps/bmp/instance.bmp -text
Delivery/build/bitmaps/bmp/int_stip.bmp -text
Delivery/build/bitmaps/bmp/key_prss.bmp -text
Delivery/build/bitmaps/bmp/key_rels.bmp -text
Delivery/build/bitmaps/bmp/key_rtrn.bmp -text
Delivery/build/bitmaps/bmp/label.bmp -text
Delivery/build/bitmaps/bmp/load_prj.bmp -text
Delivery/build/bitmaps/bmp/menu_ent.bmp -text
Delivery/build/bitmaps/bmp/menu_pll.bmp -text
Delivery/build/bitmaps/bmp/menus.bmp -text
Delivery/build/bitmaps/bmp/merge.bmp -text
Delivery/build/bitmaps/bmp/modified.bmp svneol=native#unset
Delivery/build/bitmaps/bmp/mouse.bmp -text
Delivery/build/bitmaps/bmp/mouse1d.bmp -text
Delivery/build/bitmaps/bmp/mouse1u.bmp -text
Delivery/build/bitmaps/bmp/mouse2d.bmp -text
Delivery/build/bitmaps/bmp/mouse2u.bmp -text
Delivery/build/bitmaps/bmp/mouse3d.bmp -text
Delivery/build/bitmaps/bmp/mouse3u.bmp -text
Delivery/build/bitmaps/bmp/move.bmp -text
Delivery/build/bitmaps/bmp/mse_entr.bmp -text
Delivery/build/bitmaps/bmp/mse_leav.bmp -text
Delivery/build/bitmaps/bmp/mt1mouse.bmp -text
Delivery/build/bitmaps/bmp/mt2mouse.bmp -text
Delivery/build/bitmaps/bmp/mt3mouse.bmp -text
Delivery/build/bitmaps/bmp/namer.bmp -text
Delivery/build/bitmaps/bmp/ok_tick.bmp -text
Delivery/build/bitmaps/bmp/open.bmp -text
Delivery/build/bitmaps/bmp/opt_pull.bmp -text
Delivery/build/bitmaps/bmp/par_dot.bmp -text
Delivery/build/bitmaps/bmp/parent.bmp -text
Delivery/build/bitmaps/bmp/pictclrb.bmp -text
Delivery/build/bitmaps/bmp/pntr_mot.bmp -text
Delivery/build/bitmaps/bmp/pop_cntx.bmp -text
Delivery/build/bitmaps/bmp/pop_fn.bmp -text
Delivery/build/bitmaps/bmp/pop_inst.bmp -text
Delivery/build/bitmaps/bmp/pred_cmd.bmp -text
Delivery/build/bitmaps/bmp/primitvs.bmp -text
Delivery/build/bitmaps/bmp/push_b.bmp -text
Delivery/build/bitmaps/bmp/quit.bmp -text
Delivery/build/bitmaps/bmp/radio_bx.bmp -text
Delivery/build/bitmaps/bmp/raise_wd.bmp -text
Delivery/build/bitmaps/bmp/resize.bmp -text
Delivery/build/bitmaps/bmp/return.bmp -text
Delivery/build/bitmaps/bmp/salign.bmp -text
Delivery/build/bitmaps/bmp/sattrib.bmp -text
Delivery/build/bitmaps/bmp/save.bmp -text
Delivery/build/bitmaps/bmp/save_as.bmp -text
Delivery/build/bitmaps/bmp/sbh_frmt.bmp -text
Delivery/build/bitmaps/bmp/sbutton.bmp -text
Delivery/build/bitmaps/bmp/scale.bmp -text
Delivery/build/bitmaps/bmp/scmd_pge.bmp -text
Delivery/build/bitmaps/bmp/scolor.bmp -text
Delivery/build/bitmaps/bmp/scr_modf.bmp -text
Delivery/build/bitmaps/bmp/scr_motn.bmp -text
Delivery/build/bitmaps/bmp/scr_t.bmp -text
Delivery/build/bitmaps/bmp/scr_w.bmp -text
Delivery/build/bitmaps/bmp/scrll_l.bmp -text
Delivery/build/bitmaps/bmp/sdrwn_ar.bmp -text
Delivery/build/bitmaps/bmp/self_lbl.bmp -text
Delivery/build/bitmaps/bmp/separatr.bmp -text
Delivery/build/bitmaps/bmp/sets.bmp -text
Delivery/build/bitmaps/bmp/sfile.bmp -text
Delivery/build/bitmaps/bmp/sfont.bmp -text
Delivery/build/bitmaps/bmp/sgeneral.bmp -text
Delivery/build/bitmaps/bmp/sgeomtry.bmp -text
Delivery/build/bitmaps/bmp/sgrid.bmp -text
Delivery/build/bitmaps/bmp/sgroups.bmp -text
Delivery/build/bitmaps/bmp/shw_wndw.bmp -text
Delivery/build/bitmaps/bmp/single.bmp -text
Delivery/build/bitmaps/bmp/smenus.bmp -text
Delivery/build/bitmaps/bmp/smouse.bmp -text
Delivery/build/bitmaps/bmp/sprimtvs.bmp -text
Delivery/build/bitmaps/bmp/sresize.bmp -text
Delivery/build/bitmaps/bmp/sscale.bmp -text
Delivery/build/bitmaps/bmp/sscrll_l.bmp -text
Delivery/build/bitmaps/bmp/sscrll_w.bmp -text
Delivery/build/bitmaps/bmp/ssets.bmp -text
Delivery/build/bitmaps/bmp/ssubmenu.bmp -text
Delivery/build/bitmaps/bmp/state.bmp -text
Delivery/build/bitmaps/bmp/state_dt.bmp -text
Delivery/build/bitmaps/bmp/state_sm.bmp -text
Delivery/build/bitmaps/bmp/stext.bmp -text
Delivery/build/bitmaps/bmp/strnsltn.bmp -text
Delivery/build/bitmaps/bmp/stxt_fld.bmp -text
Delivery/build/bitmaps/bmp/submenu.bmp -text
Delivery/build/bitmaps/bmp/susr_def.bmp -text
Delivery/build/bitmaps/bmp/swindows.bmp -text
Delivery/build/bitmaps/bmp/text.bmp -text
Delivery/build/bitmaps/bmp/text_fld.bmp -text
Delivery/build/bitmaps/bmp/toggle_b.bmp -text
Delivery/build/bitmaps/bmp/top_shll.bmp -text
Delivery/build/bitmaps/bmp/transitn.bmp -text
Delivery/build/bitmaps/bmp/transltn.bmp -text
Delivery/build/bitmaps/bmp/type.bmp -text
Delivery/build/bitmaps/bmp/user_cmd.bmp -text
Delivery/build/bitmaps/bmp/user_def.bmp -text
Delivery/build/bitmaps/bmp/wastbskt.bmp -text
Delivery/build/bitmaps/bmp/wdgt_dst.bmp -text
Delivery/build/bitmaps/bmp/windows.bmp -text
Delivery/build/bitmaps/xpm/common/save.xpm svneol=native#unset
Delivery/build/bitmaps/xpm/save.xpm svneol=native#unset
Delivery/build/template/application svneol=native#unset
Delivery/build/template/commands svneol=native#unset
Delivery/build/template/contexts svneol=native#unset
Delivery/build/template/groups svneol=native#unset
Delivery/build/template/namer svneol=native#unset
Delivery/build/template/states svneol=native#unset
Delivery/build/template/trans svneol=native#unset
Delivery/case/Non_configurable/postscript.zip svneol=native#unset
Delivery/case/Non_configurable/resources.zip svneol=native#unset
Delivery/studio/bitmaps/xpm/expldot.xpm svneol=native#unset
Delivery/studio/bitmaps/xpm/general.xpm svneol=native#unset
Delivery/studio/bitmaps/xpm/graph.xpm svneol=native#unset
Delivery/studio/bitmaps/xpm/project.xpm svneol=native#unset
Delivery/studio/bitmaps/xpm/sclients.xpm svneol=native#unset
Delivery/studio/bitmaps/xpm/sflat.xpm svneol=native#unset
Delivery/studio/bitmaps/xpm/ssupplie.xpm svneol=native#unset
Delivery/studio/bitmaps/xpm/stext.xpm svneol=native#unset
Src/bench/C/ipc/daemon/ebench.ico -text
Src/bench/Eiffel/extra/finish_freezing/appl.ico -text
Src/bench/Eiffel/extra/finish_freezing/finish_freezing.ico svneol=native#unset
Src/bench/Eiffel/interface/graphical/resource_file/es4.ico svneol=native#unset
Src/build/Clib/motif/efb.a svneol=native#unset
Src/build/Clib/openlook/efb.a svneol=native#unset
Src/build/Clib/openlook/efb_openlook svneol=native#unset
Src/examples/old_com/Analyzer/Client/application.ico svneol=native#unset
Src/examples/old_com/Analyzer/Client/toolbar.bmp svneol=native#unset
Src/examples/old_com/Analyzer/Server/application.ico svneol=native#unset
Src/examples/old_com/Compound/child.ico svneol=native#unset
Src/examples/old_com/Compound/compound.ico svneol=native#unset
Src/examples/old_com/Wordbasic/wordbasic.ico svneol=native#unset
Src/examples/wel/bmpview/app.ico svneol=native#unset
Src/examples/wel/bmpview/child.ico svneol=native#unset
Src/examples/wel/bmpview/wel1.bmp svneol=native#unset
Src/examples/wel/bmpview/wel2.bmp svneol=native#unset
Src/examples/wel/brushes/app.ico svneol=native#unset
Src/examples/wel/brushes/eiffel.bmp -text
Src/examples/wel/comctrls/app.ico svneol=native#unset
Src/examples/wel/comctrls/toolbar.bmp svneol=native#unset
Src/examples/wel/commands/app.ico svneol=native#unset
Src/examples/wel/controls/app.ico svneol=native#unset
Src/examples/wel/cursors/app.ico svneol=native#unset
Src/examples/wel/cursors/custom.cur svneol=native#unset
Src/examples/wel/fontenum/app.ico svneol=native#unset
Src/examples/wel/fun/app.ico svneol=native#unset
Src/examples/wel/fun/artist.ico svneol=native#unset
Src/examples/wel/fun/invisibl.cur svneol=native#unset
Src/examples/wel/fun/iselogo.bmp svneol=native#unset
Src/examples/wel/hello/app.ico svneol=native#unset
Src/examples/wel/magnify/app.ico svneol=native#unset
Src/examples/wel/mdi/app.ico svneol=native#unset
Src/examples/wel/menus/app.ico svneol=native#unset
Src/examples/wel/minimal/app.ico svneol=native#unset
Src/examples/wel/pizza/app.ico svneol=native#unset
Src/examples/wel/pizza/forhere.ico -text
Src/examples/wel/pizza/pizza.ico -text
Src/examples/wel/pizza/thick.ico -text
Src/examples/wel/pizza/thin.ico -text
Src/examples/wel/pizza/togo.ico -text
Src/examples/wel/printer/app.ico svneol=native#unset
Src/examples/wel/richedit/app.ico svneol=native#unset
Src/examples/wel/richedit/toolbar.bmp svneol=native#unset
Src/examples/wel/stddlgs/app.ico svneol=native#unset
Src/examples/wel/timer/app.ico svneol=native#unset
Src/examples/wel/tutorial/hi.drw svneol=native#unset
Src/examples/wel/tutorial/step1/app.ico svneol=native#unset
Src/examples/wel/tutorial/step2/app.ico svneol=native#unset
Src/examples/wel/tutorial/step3/app.ico svneol=native#unset
Src/examples/wel/tutorial/step4/app.ico svneol=native#unset
Src/examples/wel/tutorial/step5/app.ico svneol=native#unset
Src/examples/wel/tutorial/step6/app.ico svneol=native#unset
Src/examples/wel/tutorial/step7/app.ico svneol=native#unset
Src/examples/wel/tutorial/step8/app.ico svneol=native#unset
Src/examples/wel/tutorial/weltutor.hlp -text
Src/examples/wel/windows/app.ico svneol=native#unset
Src/examples/wel/windows/off.bmp svneol=native#unset
Src/examples/wel/windows/on.bmp svneol=native#unset
Src/examples/wel/xcell/backgr.bmp svneol=native#unset
Src/examples/wel/xcell/clubs1.bmp svneol=native#unset
Src/examples/wel/xcell/clubs10.bmp svneol=native#unset
Src/examples/wel/xcell/clubs11.bmp svneol=native#unset
Src/examples/wel/xcell/clubs12.bmp svneol=native#unset
Src/examples/wel/xcell/clubs13.bmp svneol=native#unset
Src/examples/wel/xcell/clubs2.bmp svneol=native#unset
Src/examples/wel/xcell/clubs3.bmp svneol=native#unset
Src/examples/wel/xcell/clubs4.bmp svneol=native#unset
Src/examples/wel/xcell/clubs5.bmp svneol=native#unset
Src/examples/wel/xcell/clubs6.bmp svneol=native#unset
Src/examples/wel/xcell/clubs7.bmp svneol=native#unset
Src/examples/wel/xcell/clubs8.bmp svneol=native#unset
Src/examples/wel/xcell/clubs9.bmp svneol=native#unset
Src/examples/wel/xcell/diamon1.bmp svneol=native#unset
Src/examples/wel/xcell/diamon10.bmp svneol=native#unset
Src/examples/wel/xcell/diamon11.bmp svneol=native#unset
Src/examples/wel/xcell/diamon12.bmp svneol=native#unset
Src/examples/wel/xcell/diamon13.bmp svneol=native#unset
Src/examples/wel/xcell/diamon2.bmp svneol=native#unset
Src/examples/wel/xcell/diamon3.bmp svneol=native#unset
Src/examples/wel/xcell/diamon4.bmp svneol=native#unset
Src/examples/wel/xcell/diamon5.bmp svneol=native#unset
Src/examples/wel/xcell/diamon6.bmp svneol=native#unset
Src/examples/wel/xcell/diamon7.bmp svneol=native#unset
Src/examples/wel/xcell/diamon8.bmp svneol=native#unset
Src/examples/wel/xcell/diamon9.bmp svneol=native#unset
Src/examples/wel/xcell/end.bmp svneol=native#unset
Src/examples/wel/xcell/h_clubs.bmp svneol=native#unset
Src/examples/wel/xcell/h_diamo.bmp svneol=native#unset
Src/examples/wel/xcell/h_harts.bmp svneol=native#unset
Src/examples/wel/xcell/h_spades.bmp svneol=native#unset
Src/examples/wel/xcell/harts1.bmp svneol=native#unset
Src/examples/wel/xcell/harts10.bmp svneol=native#unset
Src/examples/wel/xcell/harts11.bmp svneol=native#unset
Src/examples/wel/xcell/harts12.bmp svneol=native#unset
Src/examples/wel/xcell/harts13.bmp svneol=native#unset
Src/examples/wel/xcell/harts2.bmp svneol=native#unset
Src/examples/wel/xcell/harts3.bmp svneol=native#unset
Src/examples/wel/xcell/harts4.bmp svneol=native#unset
Src/examples/wel/xcell/harts5.bmp svneol=native#unset
Src/examples/wel/xcell/harts6.bmp svneol=native#unset
Src/examples/wel/xcell/harts7.bmp svneol=native#unset
Src/examples/wel/xcell/harts8.bmp svneol=native#unset
Src/examples/wel/xcell/harts9.bmp svneol=native#unset
Src/examples/wel/xcell/spades1.bmp svneol=native#unset
Src/examples/wel/xcell/spades10.bmp svneol=native#unset
Src/examples/wel/xcell/spades11.bmp svneol=native#unset
Src/examples/wel/xcell/spades12.bmp svneol=native#unset
Src/examples/wel/xcell/spades13.bmp svneol=native#unset
Src/examples/wel/xcell/spades2.bmp svneol=native#unset
Src/examples/wel/xcell/spades3.bmp svneol=native#unset
Src/examples/wel/xcell/spades4.bmp svneol=native#unset
Src/examples/wel/xcell/spades5.bmp svneol=native#unset
Src/examples/wel/xcell/spades6.bmp svneol=native#unset
Src/examples/wel/xcell/spades7.bmp svneol=native#unset
Src/examples/wel/xcell/spades8.bmp svneol=native#unset
Src/examples/wel/xcell/spades9.bmp svneol=native#unset
Src/examples/wel/xcell/start.bmp svneol=native#unset
Src/examples/wel/xcell/xcell.bmp svneol=native#unset
Src/examples/wel/xy/app.ico svneol=native#unset
Src/library/wel/extra/h2e.ico svneol=native#unset
Src/library/wel/extra/h2e1.ico svneol=native#unset
Src/library/wel/extra/h2e2.ico svneol=native#unset
Src/resource_bench/RB_documentation/docrb/ANALYZ.gif svneol=native#unset
Src/resource_bench/RB_documentation/docrb/BROWSE.gif svneol=native#unset
Src/resource_bench/RB_documentation/docrb/Browse.bmp svneol=native#unset
Src/resource_bench/RB_documentation/docrb/COLLAPS.gif svneol=native#unset
Src/resource_bench/RB_documentation/docrb/EXPAND.gif svneol=native#unset
Src/resource_bench/RB_documentation/docrb/PREPRO.gif svneol=native#unset
Src/resource_bench/RB_documentation/docrb/RB.gif svneol=native#unset
Src/resource_bench/RB_documentation/docrb/RETRIEV.gif svneol=native#unset
Src/resource_bench/RB_documentation/docrb/analyz.bmp svneol=native#unset
Src/resource_bench/RB_documentation/docrb/collaps.bmp svneol=native#unset
Src/resource_bench/RB_documentation/docrb/expand.bmp svneol=native#unset
Src/resource_bench/RB_documentation/docrb/prepro.bmp svneol=native#unset
Src/resource_bench/RB_documentation/docrb/rb.bmp svneol=native#unset
Src/resource_bench/RB_documentation/docrb/retriev.bmp svneol=native#unset
Src/resource_bench/RB_documentation/examples/bitmap_1.bmp svneol=native#unset
Src/resource_bench/RB_documentation/examples/bitmap_2.bmp svneol=native#unset
Src/resource_bench/RB_documentation/examples/cursor_1.cur svneol=native#unset
Src/resource_bench/RB_documentation/examples/cursor_2.cur svneol=native#unset
Src/resource_bench/RB_documentation/examples/icon_1.ico svneol=native#unset
Src/resource_bench/RB_documentation/examples/icon_2.ico svneol=native#unset
Src/resource_bench/RB_documentation/examples/toolbar.bmp svneol=native#unset
Src/resource_bench/rb.ico svneol=native#unset
Src/resource_bench/toolbar.bmp svneol=native#unset
