Src/bench/Eiffel/doc/GC/_private
Src/bench/Eiffel/doc/GC/_vti_cnf
Src/bench/Eiffel/doc/GC/_vti_pvt
Src/bench/Eiffel/doc/GC/multithreading/_private
Src/bench/Eiffel/doc/GC/multithreading/_vti_cnf
Src/bench/Eiffel/doc/GC/multithreading/_vti_pvt
Src/bench/Eiffel/doc/Microsoft.NET/_private
Src/bench/Eiffel/doc/Microsoft.NET/_vti_cnf
Src/bench/Eiffel/doc/Microsoft.NET/_vti_pvt
Src/bench/Eiffel/doc/Microsoft.NET/dotnet_compiler_validity_rules/_private
Src/bench/Eiffel/doc/Microsoft.NET/dotnet_compiler_validity_rules/_vti_cnf
Src/bench/Eiffel/doc/Microsoft.NET/dotnet_compiler_validity_rules/_vti_pvt
Src/bench/Eiffel/doc/Microsoft.NET/generics/_private
Src/bench/Eiffel/doc/Microsoft.NET/generics/_vti_cnf
Src/bench/Eiffel/doc/Microsoft.NET/generics/_vti_pvt
Src/bench/Eiffel/doc/Microsoft.NET/multiple_inheritance/_private
Src/bench/Eiffel/doc/Microsoft.NET/multiple_inheritance/_vti_cnf
Src/bench/Eiffel/doc/Microsoft.NET/multiple_inheritance/_vti_pvt
Src/bench/Eiffel/doc/Microsoft.NET/multiple_inheritance/method1/_private
Src/bench/Eiffel/doc/Microsoft.NET/multiple_inheritance/method1/_vti_cnf
Src/bench/Eiffel/doc/Microsoft.NET/multiple_inheritance/method1/_vti_pvt
Src/bench/Eiffel/doc/Microsoft.NET/multiple_inheritance/method2/_private
Src/bench/Eiffel/doc/Microsoft.NET/multiple_inheritance/method2/_vti_cnf
Src/bench/Eiffel/doc/Microsoft.NET/multiple_inheritance/method2/_vti_pvt
Src/bench/Eiffel/doc/Microsoft.NET/porting_eiffel_base/_private
Src/bench/Eiffel/doc/Microsoft.NET/porting_eiffel_base/_vti_cnf
Src/bench/Eiffel/doc/Microsoft.NET/porting_eiffel_base/_vti_pvt
Src/bench/Eiffel/doc/Microsoft.NET/renaming_redefinition_covariance/_private
Src/bench/Eiffel/doc/Microsoft.NET/renaming_redefinition_covariance/_vti_cnf
Src/bench/Eiffel/doc/Microsoft.NET/renaming_redefinition_covariance/_vti_pvt
Src/bench/Eiffel/doc/_private
Src/bench/Eiffel/doc/_vti_cnf
Src/bench/Eiffel/doc/_vti_pvt
Src/bench/Eiffel/doc/benchmarks/_private
Src/bench/Eiffel/doc/benchmarks/_vti_cnf
Src/bench/Eiffel/doc/benchmarks/_vti_pvt
Src/bench/Eiffel/doc/compiler/_private
Src/bench/Eiffel/doc/compiler/_vti_cnf
Src/bench/Eiffel/doc/compiler/_vti_pvt
Src/bench/Eiffel/doc/compiler/agents/_private
Src/bench/Eiffel/doc/compiler/agents/_vti_cnf
Src/bench/Eiffel/doc/compiler/agents/_vti_pvt
Src/bench/Eiffel/doc/compiler/c_compilers/_private
Src/bench/Eiffel/doc/compiler/c_compilers/_vti_cnf
Src/bench/Eiffel/doc/compiler/c_compilers/_vti_pvt
Src/bench/Eiffel/doc/compiler/converitibility/_private
Src/bench/Eiffel/doc/compiler/converitibility/_vti_cnf
Src/bench/Eiffel/doc/compiler/converitibility/_vti_pvt
Src/bench/Eiffel/doc/compiler/expanded/_private
Src/bench/Eiffel/doc/compiler/expanded/_vti_cnf
Src/bench/Eiffel/doc/compiler/expanded/_vti_pvt
Src/bench/Eiffel/doc/compiler/expanded/drafts/_private
Src/bench/Eiffel/doc/compiler/expanded/drafts/_vti_cnf
Src/bench/Eiffel/doc/compiler/expanded/drafts/_vti_pvt
Src/bench/Eiffel/doc/compiler/old_release_notes/_private
Src/bench/Eiffel/doc/compiler/old_release_notes/_vti_cnf
Src/bench/Eiffel/doc/compiler/old_release_notes/_vti_pvt
Src/bench/Eiffel/doc/compiler/tuple/_private
Src/bench/Eiffel/doc/compiler/tuple/_vti_cnf
Src/bench/Eiffel/doc/compiler/tuple/_vti_pvt
Src/bench/Eiffel/doc/compiler/typed_pointer/_private
Src/bench/Eiffel/doc/compiler/typed_pointer/_vti_cnf
Src/bench/Eiffel/doc/compiler/typed_pointer/_vti_pvt
Src/bench/Eiffel/doc/debugger_files/_private
Src/bench/Eiffel/doc/debugger_files/_vti_cnf
Src/bench/Eiffel/doc/debugger_files/_vti_pvt
Src/bench/Eiffel/doc/debugging/_private
Src/bench/Eiffel/doc/debugging/_vti_cnf
Src/bench/Eiffel/doc/debugging/_vti_pvt
Src/bench/Eiffel/doc/debugging/debugger_files/_private
Src/bench/Eiffel/doc/debugging/debugger_files/_vti_cnf
Src/bench/Eiffel/doc/debugging/debugger_files/_vti_pvt
Src/bench/Eiffel/doc/weasel_results/_private
Src/bench/Eiffel/doc/weasel_results/_vti_cnf
Src/bench/Eiffel/doc/weasel_results/_vti_pvt
Src/bench/Eiffel/eiffel/com_il_generation/Core/run-time/*.dll
Src/bench/Eiffel/eiffel/com_il_generation/Core/run-time/*.pdb
Src/bench/Eiffel/library/cli_writer/Clib/*.lib
Src/bench/Eiffel/library/cli_writer/Clib/*.obj
Src/bench/Eiffel/library/cli_writer/Clib/*.pdb
