Delivery/scripts/windows/install/bin
Delivery/scripts/windows/install/binaries
Delivery/scripts/windows/install/redist/bin
Delivery/scripts/windows/install/redist/obj
Delivery/studio/wizards/new_projects/dotnet/spec
Delivery/studio/wizards/new_projects/vision2/spec
Delivery/studio/wizards/new_projects/wel/spec
Delivery/studio/wizards/others/precompile/spec
Src/C/CONFIGS/*.exe
Src/C/CONFIGS/*.ilk
Src/C/CONFIGS/*.lib
Src/C/CONFIGS/*.obj
Src/C/CONFIGS/*.pdb
Src/C/Makefile
Src/C/U/*.exe
Src/C/U/*.ilk
Src/C/U/*.lib
Src/C/U/*.obj
Src/C/U/*.pdb
Src/C/bench/*.a
Src/C/bench/*.exe
Src/C/bench/*.ilk
Src/C/bench/*.lib
Src/C/bench/*.obj
Src/C/bench/*.pdb
Src/C/bench/Makefile
Src/C/bench/Makefile.bak
Src/C/bench/bytedump
Src/C/bench/config.sh
Src/C/bench/make.bat
Src/C/bench/meltdump
Src/C/config.sh
Src/C/console/*.a
Src/C/console/*.lib
Src/C/console/*.obj
Src/C/console/*.pdb
Src/C/console/Makefile
Src/C/console/config.sh
Src/C/console/make.bat
Src/C/desc/*.ilk
Src/C/desc/*.lib
Src/C/desc/*.obj
Src/C/desc/*.pdb
Src/C/desc/Makefile
Src/C/desc/config.sh
Src/C/desc/ise_desc.dll
Src/C/desc/ise_desc.exp
Src/C/desc/make.bat
Src/C/eif_config.h
Src/C/hints/*.exe
Src/C/hints/*.ilk
Src/C/hints/*.lib
Src/C/hints/*.obj
Src/C/hints/*.pdb
Src/C/idrs/*.a
Src/C/idrs/*.obj
Src/C/idrs/*.pdb
Src/C/idrs/Makefile
Src/C/idrs/Makefile.bak
Src/C/idrs/config.sh
Src/C/idrs/make.bat
Src/C/ipc/*.exe
Src/C/ipc/*.ilk
Src/C/ipc/*.lib
Src/C/ipc/*.obj
Src/C/ipc/*.pdb
Src/C/ipc/Makefile
Src/C/ipc/app/*.a
Src/C/ipc/app/*.lib
Src/C/ipc/app/*.obj
Src/C/ipc/app/*.pdb
Src/C/ipc/app/Makefile
Src/C/ipc/app/Makefile.bak
Src/C/ipc/app/config.sh
Src/C/ipc/app/make.bat
Src/C/ipc/daemon/*.ilk
Src/C/ipc/daemon/*.obj
Src/C/ipc/daemon/*.pdb
Src/C/ipc/daemon/Makefile
Src/C/ipc/daemon/Makefile.bak
Src/C/ipc/daemon/config.sh
Src/C/ipc/daemon/ecdbgd
Src/C/ipc/daemon/ecdbgd.RES
Src/C/ipc/daemon/ecdbgd.exe
Src/C/ipc/daemon/ecdbgd.lmk
Src/C/ipc/daemon/make.bat
Src/C/ipc/ewb/*.a
Src/C/ipc/ewb/*.lib
Src/C/ipc/ewb/*.obj
Src/C/ipc/ewb/*.pdb
Src/C/ipc/ewb/Makefile
Src/C/ipc/ewb/Makefile.bak
Src/C/ipc/ewb/config.sh
Src/C/ipc/ewb/make.bat
Src/C/ipc/notes/*.exe
Src/C/ipc/notes/*.ilk
Src/C/ipc/notes/*.lib
Src/C/ipc/notes/*.obj
Src/C/ipc/notes/*.pdb
Src/C/ipc/shared/*.a
Src/C/ipc/shared/*.lib
Src/C/ipc/shared/*.o
Src/C/ipc/shared/*.obj
Src/C/ipc/shared/*.pdb
Src/C/ipc/shared/Makefile
Src/C/ipc/shared/Makefile.bak
Src/C/ipc/shared/config.sh
Src/C/ipc/shared/make.bat
Src/C/make.bat
Src/C/mkdep
Src/C/platform/*.a
Src/C/platform/*.lib
Src/C/platform/*.obj
Src/C/platform/*.pdb
Src/C/platform/Makefile
Src/C/platform/Makefile.bak
Src/C/platform/config.sh
Src/C/platform/make.bat
Src/C/run-time/*.a
Src/C/run-time/*.exe
Src/C/run-time/*.ilk
Src/C/run-time/*.o
Src/C/run-time/*.obj
Src/C/run-time/*.pdb
Src/C/run-time/*.so
Src/C/run-time/FREELIB
Src/C/run-time/LIB
Src/C/run-time/Makefile
Src/C/run-time/Makefile.bak
Src/C/run-time/OBJDIR
Src/C/run-time/U/*.exe
Src/C/run-time/U/*.ilk
Src/C/run-time/U/*.lib
Src/C/run-time/U/*.obj
Src/C/run-time/U/*.pdb
Src/C/run-time/concurrency/*.exe
Src/C/run-time/concurrency/*.ilk
Src/C/run-time/concurrency/*.lib
Src/C/run-time/concurrency/*.obj
Src/C/run-time/concurrency/*.pdb
Src/C/run-time/concurrency/daemon/*.exe
Src/C/run-time/concurrency/daemon/*.ilk
Src/C/run-time/concurrency/daemon/*.lib
Src/C/run-time/concurrency/daemon/*.obj
Src/C/run-time/concurrency/daemon/*.pdb
Src/C/run-time/concurrency/library/*.exe
Src/C/run-time/concurrency/library/*.ilk
Src/C/run-time/concurrency/library/*.lib
Src/C/run-time/concurrency/library/*.obj
Src/C/run-time/concurrency/library/*.pdb
Src/C/run-time/config.sh
Src/C/run-time/eif_config.h
Src/C/run-time/eif_confmagic.h
Src/C/run-time/eif_portable.h
Src/C/run-time/eif_size.h
Src/C/run-time/finalized/*.exe
Src/C/run-time/finalized/*.ilk
Src/C/run-time/finalized/*.lib
Src/C/run-time/finalized/*.obj
Src/C/run-time/finalized/*.pdb
Src/C/run-time/include/*.exe
Src/C/run-time/include/*.ilk
Src/C/run-time/include/*.lib
Src/C/run-time/include/*.obj
Src/C/run-time/include/*.pdb
Src/C/run-time/make.bat
Src/C/run-time/runtime_validation
Src/C/run-time/tests/*.exe
Src/C/run-time/tests/*.ilk
Src/C/run-time/tests/*.lib
Src/C/run-time/tests/*.obj
Src/C/run-time/tests/*.pdb
Src/C/run-time/wkbench/*.exe
Src/C/run-time/wkbench/*.ilk
Src/C/run-time/wkbench/*.lib
Src/C/run-time/wkbench/*.obj
Src/C/run-time/wkbench/*.pdb
Src/C/run-time/x2c
Src/C/shell/.bash_history
Src/C_library/curl/lib/release-dll-ssl-dll
Src/C_library/openssl/crypto/bf/asm/*.asm
Src/C_library/openssl/crypto/bf/asm/*.obj
Src/C_library/openssl/crypto/bn/asm/*.asm
Src/C_library/openssl/crypto/bn/asm/*.obj
Src/C_library/openssl/crypto/cast/asm/*.asm
Src/C_library/openssl/crypto/cast/asm/*.obj
Src/C_library/openssl/crypto/des/asm/*.asm
Src/C_library/openssl/crypto/des/asm/*.obj
Src/C_library/openssl/crypto/md5/asm/*.asm
Src/C_library/openssl/crypto/md5/asm/*.obj
Src/C_library/openssl/crypto/rc4/asm/*.asm
Src/C_library/openssl/crypto/rc4/asm/*.obj
Src/C_library/openssl/crypto/rc5/asm/*.asm
Src/C_library/openssl/crypto/rc5/asm/*.obj
Src/C_library/openssl/crypto/ripemd/asm/*.asm
Src/C_library/openssl/crypto/ripemd/asm/*.obj
Src/C_library/openssl/crypto/sha/asm/*.asm
Src/C_library/openssl/crypto/sha/asm/*.obj
Src/C_library/openssl/out32dll/*
Src/C_library/openssl/tmp32dll/*
Src/C_library/zlib/example.exe
Src/C_library/zlib/example_d.exe
Src/C_library/zlib/minigzip.exe
Src/C_library/zlib/minigzip_d.exe
Src/C_library/zlib/zdll.exp
Src/C_library/zlib/zlib1.dll
Src/C_library/zlib/zlib1.res
Src/Delivery
Src/Documentation
Src/Eiffel/Ace/*.epr
Src/Eiffel/Ace/*.rc
Src/Eiffel/Ace/*.user
Src/Eiffel/Ace/*.wb
Src/Eiffel/Ace/Diagrams
Src/Eiffel/Ace/EIFGENs
Src/Eiffel/Ace/Metrics
Src/Eiffel/Ace/exception_trace.log
Src/Eiffel/Ace/metrics
Src/Eiffel/doc/Microsoft.NET/_private
Src/Eiffel/doc/Microsoft.NET/_vti_cnf
Src/Eiffel/doc/Microsoft.NET/_vti_pvt
Src/Eiffel/doc/Microsoft.NET/dotnet_compiler_validity_rules/_private
Src/Eiffel/doc/Microsoft.NET/dotnet_compiler_validity_rules/_vti_cnf
Src/Eiffel/doc/Microsoft.NET/dotnet_compiler_validity_rules/_vti_pvt
Src/Eiffel/doc/Microsoft.NET/generics/_private
Src/Eiffel/doc/Microsoft.NET/generics/_vti_cnf
Src/Eiffel/doc/Microsoft.NET/generics/_vti_pvt
Src/Eiffel/doc/Microsoft.NET/multiple_inheritance/_private
Src/Eiffel/doc/Microsoft.NET/multiple_inheritance/_vti_cnf
Src/Eiffel/doc/Microsoft.NET/multiple_inheritance/_vti_pvt
Src/Eiffel/doc/Microsoft.NET/multiple_inheritance/method1/_private
Src/Eiffel/doc/Microsoft.NET/multiple_inheritance/method1/_vti_cnf
Src/Eiffel/doc/Microsoft.NET/multiple_inheritance/method1/_vti_pvt
Src/Eiffel/doc/Microsoft.NET/multiple_inheritance/method2/_private
Src/Eiffel/doc/Microsoft.NET/multiple_inheritance/method2/_vti_cnf
Src/Eiffel/doc/Microsoft.NET/multiple_inheritance/method2/_vti_pvt
Src/Eiffel/doc/Microsoft.NET/porting_eiffel_base/_private
Src/Eiffel/doc/Microsoft.NET/porting_eiffel_base/_vti_cnf
Src/Eiffel/doc/Microsoft.NET/porting_eiffel_base/_vti_pvt
Src/Eiffel/doc/Microsoft.NET/renaming_redefinition_covariance/_private
Src/Eiffel/doc/Microsoft.NET/renaming_redefinition_covariance/_vti_cnf
Src/Eiffel/doc/Microsoft.NET/renaming_redefinition_covariance/_vti_pvt
Src/Eiffel/doc/_private
Src/Eiffel/doc/_vti_cnf
Src/Eiffel/doc/_vti_pvt
Src/Eiffel/doc/benchmarks/_private
Src/Eiffel/doc/benchmarks/_vti_cnf
Src/Eiffel/doc/benchmarks/_vti_pvt
Src/Eiffel/doc/compiler/_private
Src/Eiffel/doc/compiler/_vti_cnf
Src/Eiffel/doc/compiler/_vti_pvt
Src/Eiffel/doc/compiler/agents/_private
Src/Eiffel/doc/compiler/agents/_vti_cnf
Src/Eiffel/doc/compiler/agents/_vti_pvt
Src/Eiffel/doc/compiler/c_compilers/_private
Src/Eiffel/doc/compiler/c_compilers/_vti_cnf
Src/Eiffel/doc/compiler/c_compilers/_vti_pvt
Src/Eiffel/doc/compiler/converitibility/_private
Src/Eiffel/doc/compiler/converitibility/_vti_cnf
Src/Eiffel/doc/compiler/converitibility/_vti_pvt
Src/Eiffel/doc/compiler/expanded/_private
Src/Eiffel/doc/compiler/expanded/_vti_cnf
Src/Eiffel/doc/compiler/expanded/_vti_pvt
Src/Eiffel/doc/compiler/expanded/drafts/_private
Src/Eiffel/doc/compiler/expanded/drafts/_vti_cnf
Src/Eiffel/doc/compiler/expanded/drafts/_vti_pvt
Src/Eiffel/doc/compiler/old_release_notes/_private
Src/Eiffel/doc/compiler/old_release_notes/_vti_cnf
Src/Eiffel/doc/compiler/old_release_notes/_vti_pvt
Src/Eiffel/doc/compiler/tuple/_private
Src/Eiffel/doc/compiler/tuple/_vti_cnf
Src/Eiffel/doc/compiler/tuple/_vti_pvt
Src/Eiffel/doc/compiler/typed_pointer/_private
Src/Eiffel/doc/compiler/typed_pointer/_vti_cnf
Src/Eiffel/doc/compiler/typed_pointer/_vti_pvt
Src/Eiffel/doc/debugger_files/_private
Src/Eiffel/doc/debugger_files/_vti_cnf
Src/Eiffel/doc/debugger_files/_vti_pvt
Src/Eiffel/doc/debugging/_private
Src/Eiffel/doc/debugging/_vti_cnf
Src/Eiffel/doc/debugging/_vti_pvt
Src/Eiffel/doc/debugging/debugger_files/_private
Src/Eiffel/doc/debugging/debugger_files/_vti_cnf
Src/Eiffel/doc/debugging/debugger_files/_vti_pvt
Src/Eiffel/doc/runtime/GC/_private
Src/Eiffel/doc/runtime/GC/_vti_cnf
Src/Eiffel/doc/runtime/GC/_vti_pvt
Src/Eiffel/doc/runtime/GC/multithreading/_private
Src/Eiffel/doc/runtime/GC/multithreading/_vti_cnf
Src/Eiffel/doc/runtime/GC/multithreading/_vti_pvt
Src/Eiffel/doc/weasel_results/_private
Src/Eiffel/doc/weasel_results/_vti_cnf
Src/Eiffel/doc/weasel_results/_vti_pvt
Src/Eiffel/eiffel/com_il_generation/Core/run-time/*.dll
Src/Eiffel/eiffel/com_il_generation/Core/run-time/*.pdb
Src/dotnet/codedom_provider_2.0/configuration/*.rc
Src/dotnet/consumer/*.wb
Src/dotnet/consumer/EIFGENs
Src/dotnet/consumer/EiffelSoftware.MetadataConsumer.rc
Src/examples/docking/simple/EIFGENs
Src/examples/vision2/widget_test/bitmaps
Src/examples/vision2/widget_test/interface/default_object_state_checker.e
Src/examples/vision2/widget_test/interface/events
Src/examples/vision2/widget_test/interface/gb_color_stone.e
Src/examples/vision2/widget_test/interface/gb_constants.e
Src/examples/vision2/widget_test/interface/gb_ev_box_editor_constructor.e
Src/examples/vision2/widget_test/interface/gb_ev_container_editor_constructor.e
Src/examples/vision2/widget_test/interface/gb_ev_deselectable_editor_constructor.e
Src/examples/vision2/widget_test/interface/gb_ev_fixed_editor_constructor.e
Src/examples/vision2/widget_test/interface/gb_ev_frame_editor_constructor.e
Src/examples/vision2/widget_test/interface/gb_ev_gauge_editor_constructor.e
Src/examples/vision2/widget_test/interface/gb_ev_notebook_editor_constructor.e
Src/examples/vision2/widget_test/interface/gb_ev_pixmap_handler.e
Src/examples/vision2/widget_test/interface/gb_ev_sensitive_editor_constructor.e
Src/examples/vision2/widget_test/interface/gb_ev_table_editor_constructor.e
Src/examples/vision2/widget_test/interface/gb_ev_text_alignable_editor_constructor.e
Src/examples/vision2/widget_test/interface/gb_ev_text_component_editor_constructor.e
Src/examples/vision2/widget_test/interface/gb_ev_textable_editor_constructor.e
Src/examples/vision2/widget_test/interface/gb_ev_tooltipable_editor_constructor.e
Src/examples/vision2/widget_test/interface/gb_ev_viewport_editor_constructor.e
Src/examples/vision2/widget_test/interface/gb_fixed_positioner.e
Src/examples/vision2/widget_test/interface/gb_fixed_positioner_imp.e
Src/examples/vision2/widget_test/interface/gb_general_utilities.e
Src/examples/vision2/widget_test/interface/gb_supported_events.e
Src/examples/vision2/widget_test/interface/gb_table_positioner.e
Src/examples/vision2/widget_test/interface/gb_table_positioner_imp.e
Src/examples/vision2/widget_test/interface/gb_widget_utilities.e
Src/examples/vision2/widget_test/interface/ordered_string_handler.e
Src/examples/vision2/widget_test/templates
Src/framework/cli_debugger/Clib/OBJ
Src/framework/cli_debugger/spec
Src/framework/cli_writer/*.rc
Src/framework/cli_writer/Clib/*.lib
Src/framework/cli_writer/Clib/*.obj
Src/framework/cli_writer/Clib/*.pdb
Src/framework/cli_writer/spec
Src/framework/configuration/*.wb
Src/framework/configuration/EIFGENs
Src/framework/parser/parser/output.txt
Src/free_add_ons
Src/library/cURL/spec/mingw
Src/library/cURL/spec/msc
Src/library/com/spec/bcb
Src/library/com/spec/mingw
Src/library/com/spec/msc
Src/library/encryption/spec
Src/library/event/spec
Src/library/gobo
Src/library/gobo/spec
Src/library/i18n/EIFGENs
Src/library/i18n/i18n_dev.ecf
Src/library/i18n/preferences.wb
Src/library/i18n/root_class.e
Src/library/i18n/sample.ecf
Src/library/i18n/sample.rc
Src/library/net/spec
Src/library/net_ipv6/spec
Src/library/store/spec
Src/library/vision2/spec/bcb
Src/library/vision2/spec/linux-x86-64
Src/library/vision2/spec/mingw
Src/library/vision2/spec/msc
Src/library/vision2/spec/unix
Src/library/wel/Clib/ilwel.lib
Src/library/wel/Clib/make.log
Src/library/wel/Clib/wel.lib
Src/library/wel/spec/bcb
Src/library/wel/spec/mingw
Src/library/wel/spec/msc
Src/scripts/EIFGENs
Src/tools/com_wizard/root/*.wb
Src/tools/com_wizard/root/EIFGENs
Src/tools/compile_all/*.exe
Src/tools/compile_all/*.rc
Src/tools/doc_builder/*.wb
Src/tools/doc_builder/resources/xml/*.wb
Src/tools/doc_builder/resources/xml/EIFGENs
Src/tools/eiffel_image_embedder/EIFGENs
Src/tools/eiffel_matrix_code_generator/*.exe
Src/tools/estudio/*.wb
Src/tools/estudio/EIFGENs
Src/tools/estudio/estudio.rc
Src/tools/quick_finalize/*.wb
Src/tools/quick_finalize/EIFGENs
Src/tools/quick_finalize/quick_finalize.rc
Src/tools/syntax_updater/parser_v60/eiffel_parser.e
Src/tools/syntax_updater/parser_v60/eiffel_scanner.e
Src/tools/syntax_updater/parser_v60/eiffel_tokens.e
Src/tools/vms/ES5SH/*.wb
Src/tools/vms/ES5SH/EIFGEN
Src/tools/vms/ES5SH/EIFGENs
Src/tools/vms/ES5SH/es5sh.rc
free_add_ons/wex/library/wex/spec/bcb
free_add_ons/wex/library/wex/spec/mingw
free_add_ons/wex/library/wex/spec/msc
