Src/bench/Eiffel/eiffel/com_il_generation/Core/run-time/*.dll
Src/bench/Eiffel/eiffel/com_il_generation/Core/run-time/*.pdb
Src/bench/Eiffel/library/cli_writer/Clib/*.lib
Src/bench/Eiffel/library/cli_writer/Clib/*.obj
Src/bench/Eiffel/library/cli_writer/Clib/*.pdb
